@mixin position-relative-element($width, $height, $top: false, $right: false, $bottom: false, $left: false) {
  position: relative;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
}

@mixin position-absolute-element($width, $height, $top: false, $right: false, $bottom: false, $left: false) {
  position: absolute;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
}

@mixin position-fixed-element($width, $height, $top: false, $right: false, $bottom: false, $left: false) {
  position: fixed;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
}
