
@define-mixin position-relative $width, $height, $top: false, $right: false, $bottom: false, $left: false {
  position: relative;
  @if $top != false {
    top: $top;
  }
  @if $right != false {
    right: $right;
  }
  @if $bottom != false {
    bottom: $bottom;
  }
  @if $left != false {
    left: $left;
  }

  width: $width;
  height: $height;
}

@define-mixin position-absolute $width, $height, $top: false, $right: false, $bottom: false, $left: false {
  position: absolute;
  @if $top != false {
    top: $top;
  }
  @if $right != false {
    right: $right;
  }
  @if $bottom != false {
    bottom: $bottom;
  }
  @if $left != false {
    left: $left;
  }

  width: $width;
  height: $height;
}

@define-mixin position-fixed $width, $height, $top: false, $right: false, $bottom: false, $left: false {
  position: fixed;
  @if $top != false {
    top: $top;
  }
  @if $right != false {
    right: $right;
  }
  @if $bottom != false {
    bottom: $bottom;
  }
  @if $left != false {
    left: $left;
  }

  width: $width;
  height: $height;
}
