<!DOCTYPE html>
<html>
<head>
  <title>Framework</title>
</head>
<body>
  <div class='wrapper' data-app>
    <h5>Hello, I am a react less build.</h5>
    <p>I am using dynamic html temlate with webpack.</p>
    <p>cdnurl is <%= htmlWebpackPlugin.options.cdn %></p>
  </div>
  <script type="text/javascript" src="https://code.createjs.com/preloadjs-0.6.1.min.js"></script>
  <script type="text/javascript" src="https://code.createjs.com/soundjs-0.6.1.min.js"></script>
</body>
</html>
